

	#blok_mish_1:hover {
	background-color: cyan;
	font-size: 20mm;
}

#blok_mish_2:hover {
	background-color: grey;
	font-size: 20mm;
}
#blok_mish_3:hover {
	background-color: lime ;
	font-size: 20mm;
}
